<a href="https://colab.research.google.com/github/hanselhengjernhan98/Learn-Coding/blob/main/day4b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 4B: Loops

In [ ]:
# Always run this code.
%config InteractiveShell.ast_node_interactivity="none"
!pip install --force-reinstall git+https://github.com/jamcoders/jamcoders-public-2023.git --quiet
from jamcoders.base_utils import *
from jamcoders.week1.lab3a import *

# Table of Contents  

**[Question 0: Recap](#0)**

**[Question 1: Basic Functions](#1)**

**[Question 2: Calculator Functions](#2)**

**[Question 3: String Functions](#3)**

**[Question 4: Celsius to Fahrenheit](#4)**

**[Question 5: Pythag](#5)**

**[Question 6: Funk! Func!](#6)**

**[Question 7: Sums](#7)**

**[Question 8: Variable Scope](#8)**

<a name="0"></a>
## Question 0: Recap

### Answer the following questions

1. *What is a short way to write: `for i in [0, 1, 2, 3, 4, 5, 6, 7]` using the `range()` function?*
<br /><br />

In [1]:
# Write your answer to question 1 here:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

2. Consider the following two functions:

    ```python
    def my_function(x):
        return x

    def my_function2(y):
        return y
    ```

    *Explain why these functions will do the exact same thing despite having different parameter names.*
    <br /><br />

In [17]:
# Write your answer to question 2 here:
# the variable names do not affect the outcome.

IndentationError: ignored

3. Consider the following code:

    ```python
    for a in [0, 1, 2]: # loop 1
      for b in [0, 1, 2]: # loop 2
        print('hi')
      print('bye')
    ```

    *(a) When `a = 0`, how many times is `'hi'` printed?*

    *(b) How many times is `'bye'` printed?*
    
    *(c) When `a = 1`, how many times is `'hi'` printed?*
    
    *(d) When `a = 1`, how many times is `'bye'` printed?*
    <br /><br />

In [12]:
# Write your answers to the question by changing the `None` to an integer

# 3a
answer1 = 3

check_answer_3a(answer1)

# 3b
answer2 = 9

check_answer_3b(answer2)

# 3c
answer2 = 3

check_answer_3c(answer2)

# 3d
answer2 = 3

check_answer_3d(answer2)

NameError: ignored

4. *Consider the same code as question 3. Overall, how many times does the inner loop (commented `# loop 2`) run? How many times does the outer loop (commented `# loop 1`) run?*
<br /><br />

In [ ]:
# Write your answer to question 4 here:
#
number_of_inner_loop_runs = 3

check_answer_4a(number_of_inner_loop_runs)


number_of_outer_loop_runs = 9
check_answer_4b(number_of_outer_loop_runs)

5. Consider the following code:

    ```python
    for a in [0, 1, 2]: # loop 1
      print(' ') # Print a space
    print('?') # Print a ?

    for a in [0, 1, 2]: # loop 2
      print('!')
    print(' ')
    ```

    *Explain why only one `?` mark is printed. Why does `# loop 2` print three `!` marks?*
    <br /><br />

In [ ]:
# Write your answer to question 5 here:
# Cause there are 3 numbers there

6. Consider the following code:

    ```python
    def square(x):
      x = 5
      return x * x

    print(square(5))
    print(square(7))

    ```

    *We would like `square(7)` to return `7 x 7 = 49`. What does it actually return?*
    <br /><br />

In [22]:
# Write your answer to question 6 here:

def square(x):
   return x * x
square_return_value = square(7)

check_answer_6(square_return_value)

NameError: ignored

7. *Consider the same code as question 6. Even though the code is wrong, why does the function give the correct output if you call `square(5)`, (or `square(-5)`)? Can you change the code to be correct on all inputs?*
<br /><br />

In [23]:
def square(x):
   return x * x
square_return_value = square(7)

check_answer_6(square_return_value)

NameError: ignored

<a name="1"></a>
## Question 1: Basic Functions

*Note: sometimes each cell can also be hidden*

### 1.1
Write a function that takes ```x``` as an argument, and returns ```5 * x```.

In [3]:
def mult_five(x):
    return 5*x

mult_five(5)

25

### 1.2
Write a function that takes ```x``` as an argument and returns ```x + 2```.

In [ ]:
def add_two(x):
    return x+2

### 1.3
Write a function that returns ```5 * x + 10```, without using any arithmetic operations.

_Hint: use mult_five and add_two. Please run the cells for exercises 4.1 and 4.2 before running this cell._

In [26]:
def no_arith_op(x):
    return 5*x+10

no_arith_op(4)

30

### 1.4
Write a function ```is_divisible``` that accepts a number ```num``` and a divisor ```divisor``` and returns whether the number is divisible.

In [29]:
def is_divisible(num, divisor):
    return num % divisor == 0

is_divisible(10, 2)

num = int(input("number: "))
divisor = int(input("divisor: "))

if is_divisible(num, divisor):
    print("True")
else:
    print("False")

number: 2
divisor: 2
True

<a name="2"></a>
## Question 2: Calculator Functions

### 2.1
Write a function called ```add_x_to_y``` that takes two arguments ```x``` and ```y```, and returns their sum.

In [32]:
def add_x_to_y(x,y):
  return x+y

x = int(input("Key in value of x"))
y = int(input("Key in value of y"))

result = add_x_to_y(x, y)
print(result)

Key in value of x4
Key in value of y5
9

### 2.2
Write a function called ```multiply_x_to_y``` that takes two arguments ```x``` and ```y```, and returns their product.

In [34]:
def multiply_x_to_y(x,y):
  return x*y

x = int(input("Key in value of x"))
y = int(input("Key in value of y"))

result = multiply_x_to_y(x, y)
print(result)

Key in value of x4
Key in value of y5
20

### 2.3
Similar to the functions from 2.1 and 2.2, add two more functions that simulate a calculator's functions:  <br>
```divide_x_from_y(x,y)``` :  returns $\;\; y \div x$ <br>
```subtract_x_from_y(x,y)```:  returns $\;\; y - x$

In [36]:
def divide_x_to_y(x,y):
  return x/y

x = int(input("Key in value of x"))
y = int(input("Key in value of y"))

result = divide_x_to_y(x, y)
print(result)

def subtract_x_to_y(x,y):
  return x-y

x = int(input("Key in value of x"))
y = int(input("Key in value of y"))

result = subtract_x_to_y(x, y)
print(result)

Key in value of x1
Key in value of y2
0.5
Key in value of x3
Key in value of y4
-1

### 2.4
Use your calculator functions to write a function that represents: <br>

$ f(x) = 5x + 4 $ <br>
$ f(x) = (45x * 17) / 8 $ <br>
$ f(x,y) = (1290x / 275) + (2736y - 49) $

In [41]:
def func1(x):
    return 5*x+4

def func2(x):
    return 45*x*17/8

def func3(x, y):
    int(input("Key in x value"))
    int(input("key in y value"))
    return (1290*x/275)+(2736*y-49)

<a name="3"></a>
## Question 3: String Functions

### 3.1
Write a function called ```concat_x_to_y``` that takes two strings ```x``` and ```y```, and concatenates them together, and returns the result.

In [43]:
def concat_x_to_y(x, y):
    return x + y
x = input("first string: ")
y = input("second string: ")

result = concat_x_to_y(x,y)
print(result)

first string: f
second string: g
fg

### 3.2

Write a function ```concat_x_y_z``` that takes three strings ```x```, ```y```, and ```z```, and concatenates them together **without using any arithmethic (including `+`) operations**, and returns the result.

*Hint: you can call the function you wrote in 6.1*

In [44]:
# Define your function here.

def concat_x_to_y_to_z(x, y,z):
    return x + y+z
x = input("first string: ")
y = input("second string: ")
z= input("third string:")

result = concat_x_to_y_to_z(x,y,z)
print(result)

first string: re
second string: re
third string:re
rerere

<a name="4"></a>
## Question 4: Celsius to Fahrenheit

_Don't forget to use the calculator functions you defined previously_

### 4.1
Write a function ```c_to_f``` that converts Celsius to Fahrenheit using the equation $F = C \times \frac{9}{5} + 32$.

*Hint: Should you take in Celsius or Fahrenheit as an input?*

In [46]:
def c_to_f(c):
    fahrenheit = c * 9/5 + 32
    return fahrenheit

c_to_f(100)

212.0

### 4.2
Write a function ```f_to_c``` that converts Fahrenheit to Celsius using the equation $C = (F - 32) \times \frac{5}{9}$.

In [49]:


fahrenheit = float(input("Fahrenheit: "))

def f_to_c(f):
    celsius = (f - 32) * 5/9
    return celsius
celsius = f_to_c(fahrenheit)
print("celsius",celsius)

Fahrenheit: 212
celsius 100.0

### 4.3
What happens when you call ```c_to_f(f_to_c(x))```? Try for a few values of ```x```. Can you show that it is true using math?

In [51]:
# Just returns the initial Fahrenheit temperature as it converts from Fahrenheit to Celsius and then Celsius to Fahrenheit
print(c_to_f(f_to_c(212)))

212.0

<a name="5"></a>
## Question 5: Pythag

### 5.1
Write a function called ```pythagorean_triplet``` that takes in 3 integers which will represent triangle side lengths and returns a bool, to determine if it forms a right-angled triangle. The arguments are guaranteed to be sorted in increasing order. <br>

NB: Define a function call ```pow_x_to_y``` that accepts 2 numbers ```x``` and ```y``` that raises ```x``` to the power of ```y```. <br>
_Hint: A triangle is a right-angled when side lengths a, b, and c satisfy $ a^{2} + b^{2} = c^{2}$._

In [82]:


a = int(input("Enter the first side length: "))
b = int(input("Enter the second side length: "))
c = int(input("Enter the third side length: "))

def pow_x_to_y(x, y):
    return x ** y

def pythagorean_triplet(a, b, c):
    return pow_x_to_y(a, 2) + pow_x_to_y(b, 2) == pow_x_to_y(c, 2)

if pythagorean_triplet == True:
  print("right angled triangle")
else:
  print("no")

Enter the first side length: 2
Enter the second side length: 3
Enter the third side length: 4
no

<a name="6"></a>
## Question 6: Funk! Func!

### 6.1
Look at the function below. Without calling it, can you predict the outcomes of calling ```funky_func(100)```, ```funky_func(123456)```, and ```funky_func(420)```?

In [64]:
# Run this cell first.
def funky_func(x):
    z = x * 10
    x = x % 10
    z = z + x
    return z

In [69]:
def funky_func(x):
    z = x * 10
    x = x % 10
    z = z + x
    return z

print(funky_func(100))

print(funky_func(123456))
print(funky_func(420))

1000
1234566
4200

<a name="7"></a>
## Question 7: Sums

### 7.1
Write a program to sum numbers from $1 - 20$ (inclusive) using a `while True:` loop and `break`

In [58]:
total = 0
current_number = 1

while True:
    total += current_number
    current_number += 1

    if current_number > 20:
        break

print("Sum of numbers from 1 to 20 is", total)

Sum of numbers from 1 to 20 210

### 7.2

Write a program that adds all the integers from $1 - 20$ (inclusive) except $10$ and $11$.

In [61]:
total = 0

for i in range(1, 21):
    if i != 10 and i!= 11:
        total += i

print("Sum of integers from 1 to 20 excluding 10 and 11 is:", total)

Sum of integers from 1 to 20 excluding 10 and 11 is: 189

<a name="8"></a>
## Question 8: Variable Scope

### 8.1

What is the output of the following code?

```python
i = 0
def func(x):
    i = 10
    print(i, x)
    
func(5)
```

In [62]:
# Fill up the answer inside the empty string, e.g. output = "1000 2000"
output = 10, 5

# check your answer!
check_answer_8_1a(output)

10 5

What is the value of `i` after the above code has finished executing?

In [63]:
# Fill up the answer inside the empty string, e.g. i = "1000"
i = '10'

# check your answer!
check_answer_8_1b(i)

NameError: ignored

### 8.2

What will `j` be when printed in the code below? Will there be any errors?

```python
def func1(x):
    j = 10
    print(j, x)
    
def func2(x):
    j = 5
    func1(x)
    print(x)
    
func2(3)
print(j)
```

In [ ]:
# What will `j` be when printed in the code below? Will there be any errors? J is 10
# Answer & explain why in this comment (the value 10 was assigned to j)
# Answer: Nope no errors

### 8.3

Now, we are going to create a `fortune_teller` function that will print out a fortune depending on the value of the input given. Use the code comments below to help you complete this task.

In [80]:
# Make a variable `input_val` with the value 1.

input_val = 1

# Function header that creates a function called `fortune_teller` that takes no arguments.
def fortune_teller():
  if input_val == 1:
    print("You will be lucky")

  elif input_val == 2:
    print("You will be unlucky")

  elif input_val == 3:
    print("You will get money")

  elif input_val == 4:
    print("You will lose money")
  else:
    print("whatever")

fortune_teller()
    # Add a local variable to `fortune_teller` called `input_val` that has the value 3.

    # Add a conditional that checks when input_val is equal to 1. Print out "You will be lucky" if input_val equals 1.

    # Add a conditional that checks when input_val is equal to 2. Print out "You will be unlucky" if input_val equals 2.

    # Add a conditional that checks when input_val is equal to 3. Print out "You will get money" if input_val equals 3.

    # Add a conditional that checks when input_val is equal to 4. Print out "You will lose money" if input_val equals 4.

    # Add a conditional that checks when input_val is equal to 5. Print out your own statement if input_val equals 5.



# Call the fortune_teller function and observe the output value

You will be lucky

### 8.4

What value did you get when you ran the code above? Did the `if` statement for `input_val==1` or `input_val==3` occur? Was it the value you expected?

In [ ]:
# Answer in a comment!
# Answer: You will be lucky. Yes it was the value I expected input_val==1 occured.

### 8.5

How can you change the code in $8.3$ so that the output given is "You will lose money"?

In [ ]:
# Answer in a comment!
# Answer: change input_val to 3

### 8.6

In the code block below, what will be the output? Was it what you expected?

```python
i = 100
for i in range(3):
    print(i)
```

In [ ]:
# Answer in a comment!
# Answer: 3 100's. Not really what I expected. Interesting.

### 8.7

Will (a) and (b) output the same thing? Explain why.

(a)
```python
k = 0
for i in range(3):
    print(k)
```

(b)
```python
k = 0
for i in range(3):
    k = 6
    print(k)
```

In [71]:
# Answer in a comment!
# Answer: not the same. One prints 0 three times and the other prints 6 three times.

6
6
6

### 8.8

Jon wrote the code in **8.3**, but Emaan says that that code is "bad practice" (meaning it is inefficient, confusing to read, or not proper convention), and it is better to modify **8.3** to be a function that takes `input_val` as a parameter.

Follow Emaan's advice, and explain why he might be right!

In [ ]:
# Make the edits here!
def fortune_teller():

In [ ]:
# Comment on why it doesn't make sense to define an input_val locally inside the function
# and why having input_val be a function parameter may be better than having input_val be a global variable
# Answer: